@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* #ffffff */
    --foreground: 222.2 84% 4.9%; /* #0a010d */
    --card: 0 0% 100%; /* #ffffff */
    --card-foreground: 222.2 84% 4.9%; /* #0a010d */
    --popover: 0 0% 100%; /* #ffffff */
    --popover-foreground: 222.2 84% 4.9%; /* #0a010d */
    --primary: 222.2 47.4% 11.2%; /* #100317 */
    --primary-foreground: 210 40% 98%; /* #e5f1ff */
    --secondary: 210 40% 96.1%; /* #f1f5ff */
    --secondary-foreground: 222.2 47.4% 11.2%; /* #100317 */
    --muted: 210 40% 96.1%; /* #f1f5ff */
    --muted-foreground: 0 0% 47%; /* #777777 */
    --accent: 210 40% 96.1%; /* #f1f5ff */
    --accent-foreground: 222.2 47.4% 11.2%; /* #100317 */
    --destructive: 0 84.2% 60.2%; /* #d93636 */
    --destructive-foreground: 210 40% 98%; /* #e5f1ff */
    --border: 214.3 31.8% 91.4%; /* #e8eff9 */
    --input: 214.3 31.8% 91.4%; /* #e8eff9 */
    --ring: 222.2 84% 4.9%; /* #0a010d */
    --radius: 0.5rem;
    --chart-1: 12 76% 61%; /* #e4572e */
    --chart-2: 160 60% 45%; /* #29a17b */
    --chart-3: 197 37% 24%; /* #263c4d */
    --chart-4: 43 74% 66%; /* #f3d96b */
    --chart-5: 27 87% 67%; /* #f9aa49 */
  }

  .dark {
    --background: 222.2 84% 4.9%; /* #0a010d */
    --foreground: 210 40% 98%; /* #e5f1ff */
    --card: 222.2 84% 4.9%; /* #0a010d */
    --card-foreground: 210 40% 98%; /* #e5f1ff */
    --popover: 222.2 84% 4.9%; /* #0a010d */
    --popover-foreground: 210 40% 98%; /* #e5f1ff */
    --primary: 210 40% 98%; /* #e5f1ff */
    --primary-foreground: 222.2 47.4% 11.2%; /* #100317 */
    --secondary: 217.2 32.6% 17.5%; /* #252f3d */
    --secondary-foreground: 210 40% 98%; /* #e5f1ff */
    --muted: 217.2 32.6% 17.5%; /* #252f3d */
    --muted-foreground: 215 20.2% 65.1%; /* #9ea5b3 */
    --accent: 217.2 32.6% 17.5%; /* #252f3d */
    --accent-foreground: 210 40% 98%; /* #e5f1ff */
    --destructive: 0 62.8% 30.6%; /* #9e1919 */
    --destructive-foreground: 210 40% 98%; /* #e5f1ff */
    --border: 217.2 32.6% 17.5%; /* #252f3d */
    --input: 217.2 32.6% 17.5%; /* #252f3d */
    --ring: 212.7 26.8% 83.9%; /* #d8e4f5 */
    --chart-1: 220 70% 50%; /* #3399ff */
    --chart-2: 160 60% 45%; /* #28b47c */
    --chart-3: 30 80% 55%; /* #ffaa66 */
    --chart-4: 280 65% 60%; /* #a066ff */
    --chart-5: 340 75% 55%; /* #ff66a3 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
